<ion-list>
    <ion-item>
        <ion-avatar>
          <img src="assets/chat-application.jpeg"/>
        </ion-avatar>
        <ion-button expand="full" fill="outline" style="--border-color: #ffa64d; color: black;">Chat Application</ion-button>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <img src="assets/vb.jpeg"/>
          </ion-avatar>
        <ion-button expand="full" fill="outline" style="--border-color: #ffa64d; color: black;">Vocab Booster</ion-button>
    </ion-item>
    <ion-item>
        <ion-button expand="full" fill="outline" style="--border-color: #ffa64d; color: black;">Ramen</ion-button>
    </ion-item>
  </ion-list>